.restaurants-list-items {
  list-style-type: none;
  padding: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.pagination-details {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.search-bar {
  background-color: transparent;
  height: 30px;
  max-width: 250px;
  outline: none;
  font-size: 14px;
  width: 100%;
  border: 1px solid #000;
  color: #000;

  align-self: flex-start;
}

@media screen and (min-width: 768px) {
  .restaurants-list-items {
    justify-content: flex-start;
  }
}

.pg-button {
  width: 32px;
  height: 32px;
  border: 1px solid #334155;
  box-sizing: border-box;
  margin-left: 10px;
  margin-right: 10px;
}

.page-count {
  font-family: 'Bree Serif';
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: #334155;
}
.hr-line {
  width: 100%;
  border: 1px dashed #cbd2d9;
}
